


.year-time-wrapper{
    display: flex;
    justify-content: end;
    padding-right: 0.8rem;
    /* align-content: center; */
    /* align-items: center; */
}


.genre-container{
    display:flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.fa {
    width: 90%;
    max-width: 35px;
}

.fa-clock-o{
    max-width: 30px;
}
.fa .fa-film{
    max-width: 30px;
}

.genre{
    width: 20%;
    border: 1px solid  #14b8a2;
    background-color: #14b8a2;
    border-radius: 40px;
    color: black;
}

.synopses{
    margin: 1.5rem auto;
}

/* casts */

.cast-container{
    width: 100%;
    max-width: 360px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    gap:0.5rem;
    display:flex;    
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid green;
}


.cast-cart{
    width: 90%;
    max-width: 45%;
    height: 14vh;
    object-fit: fill;
    border-radius: 10%;
    border: 2px solid lightgray;
}

.cast-name{
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.54);
}

.cast-character{
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.54);
}


/* recommended section */

.recommended-container {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
    overflow-y: scroll;
}

.recommended-cart{
    width: 90%;
    max-width: 120px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: auto;
    margin: 0.5rem;
}

h3{
    text-align: left;
    margin-left: 1rem;
}


