



.footer{
    min-height: 60px;
    background-color: #e7e5dd;
    padding-left: 1rem;
    font-weight: lighter;
    font-size: 0.8rem;
    margin-top: 2rem;
}

.fa {
    padding: 8px;
    font-size: 25px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    cursor: pointer;
}

.fa-linkedin {
    background: black;
    color: white;
}

.fa .fa-linkedin{
    padding: 5px;
}

.fa-github{
    color: black;
}

