.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    /* o padding vertical e metade do horizontal  */
    padding: 1rem 2rem;
    border: 2px solid black;
    background-color: lightblue;
}


/* hamburguer menu style */

.hamburgerBtn {
    width: 2rem;
    height: auto;
    /* position fixex, so scrolling wont affect it */
    /* position: fixed; */
    /* z-index to make sure it stays above avery other element */
    /* z-index: 100; */
    /* top and right, to add it to the top right corner */
    /* top: 1rem; */
    /* left: 1rem; */
    padding: 4px;
    /* border: black solid 1px; */
    background: white;
    cursor: pointer;
}

/* To hide the close icon by default, add display: none; to the closeIcon class */
.closeIcon {
    display: none;
}

.closeIcon:hover {
    /* aumenta ou diminuiu */
    transform: scale(1.5);
}

.menu {
    text-align: center;
    width: 40%;
    position: fixed;
    padding-bottom: 3rem;
    line-height: 2rem;
    /*  transfomr used to hide the menu by default */
    /* y- sobe desce, x- direito e esquerdo */
    /* menos e pra cima,estou subindo 100 */
    transform: translateX(-100%);
    /* used to animate the change in translation value and create a slide up/down effect */
    transition: transform ease-in-out 0.3s;
    top: 0;
    left: 0;
    z-index: 99;
    background: #fafafa;
    color: black;
    list-style: none;
    padding-top: 4rem;
}

/* This class below will be added and removed from the menu with Javascript to show and hide the menu. */

.showMenu {
    /* By resetting translateY to 0, the menu will slide down and cover the whole screen */
    transform: translateY(0);
}



/* expandable search bar */

.search-container {
    position: relative;
    width: 32px;
    height: 25px;
    background-color: #fff;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 3px #14b8a2;
    overflow: hidden;
}

.search-container.active {
    width: 200px;
}

/* nao e aconselhavel dar padding e margim para posicao absolute */
.search-container .closeInput {
    position: absolute;
    top: 0;
    right: 36px;
    width: 22px;
    height: 25px;
    border-radius: 60px;
    z-index: 1000;
    cursor: pointer;
    color: #14b8a2;
}


.search-container .icon {
    position: absolute;
    top: 0;
    right: 0;
    /* padding-right: 0.3rem; */
    /* padding-top: 0.5rem; */
    width: 32px;
    height: 25px;
    border-radius: 50px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 1000;
    cursor: pointer;
    background-color: #14b8a2;
    color: #fff;
}

.search-container svg {
    width: 25px;
    height: 25px;
}

.search-container .icon:hover {
    background-color: #14b8a2;
    color: #fff;
}

/* 
.search-container .icon::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid  #14b8a2;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}


.search-container .icon::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    border: 1px solid  #14b8a2;
    border-radius: 50%;
    background-color:  #14b8a2;
    transform: translate(6px, 6px) rotate(315deg);
} */

.search-container .input {
    position: relative;
    width: 130px;
    height: 25px;
    /* justify-content: center;
    align-items: center; */
}

.search-container .input input {
    position: absolute;
    left: 10px;
    top: 0;
    width: 130px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
}

/* .clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    background: yellow;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
} */