*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #eeede8;
    width: 100%;
    min-height: 100vh;
    font-family: "Source Sans Pro",sans-serif;;
}

/* eu quero dar uma margin padding para o meu header */





/* hamburguer menu style */

.hamburgerBtn{
    width: 2rem;
    height: auto;
    /* position fixex, so scrolling wont affect it */
    position: fixed;
    /* z-index to make sure it stays above avery other element */
    z-index: 100;
    /* top and right, to add it to the top right corner */
    top: 1rem;
    left: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}

/* To hide the close icon by default, add display: none; to the closeIcon class */
.closeIcon {
    display: none;
}
.closeIcon:hover{
    /* aumenta ou diminuiu */
    transform: scale(1.5);
}

.menu {
    text-align: center;
    width: 40%;
    position: fixed;
    padding-bottom: 3rem;
    line-height: 2rem;
    /*  transfomr used to hide the menu by default */
    /* y- sobe desce, x- direito e esquerdo */
    /* menos e pra cima,estou subindo 100 */
    transform: translateY(-100%);
    /* used to animate the change in translation value and create a slide up/down effect */
    transition: transform ease-in-out 0.3s;
    top: 0;
    /* left: 0; */
    right: 0;
    z-index: 99;
    background: grey;
    color: white;
    list-style: none;
    padding-top: 4rem;
}

/* This class below will be added and removed from the menu with Javascript to show and hide the menu. */

.showMenu {
    /* By resetting translateY to 0, the menu will slide down and cover the whole screen */
    transform: translateY(0);
}



